---
Checks:           '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-altera-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*'
#Checks: '*,-modernize-use-trailing-return-type,-cppcoreguidelines-owning-memory,-fuchsia-overloaded-operator,
#-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-avoid-c-arrays,-google-readability-namespace-comments'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
